{% extends "base.html" %}
{% load i18n %}

{% block sign %}{{ author.name }}{% endblock %}

{% block content %}

    {% if user.author == author %}
        <button type="button" href="{% url 'poem_add' author.id %}">{% trans 'Add poem' %}</button>
        <br />
        <br />
    {% endif %}

    <table style="width: 250px;">
        {% for poem in poems reversed %}
            <tr>
                <td><a href="{{ poem.get_absolute_url }}">{{ poem.name }}</a></td>
                {% if user.author == author%}
                    <td style="text-align: right;">{{ poem.get_editorial_status_display }}</td>
                {% endif %}
            </tr>
        {% endfor %}
    </table>


{% endblock %}

{% block side %}

    {% if author.about %}

        <strong>{% trans 'More about the author' %}:</strong>
        <br />
        <br />

        {{ author.about|linebreaksbr }}

    {% endif %}

{% endblock %}
