{% extends "base.html" %}
{% load i18n %}

{% block sign %}{{ poem.name }}{% endblock %}

{% block content %}

    <div class="poem">
        {{ poem.body|linebreaksbr }}
        {% comment %}
        This weirdly placed space is only needed for consistency with the old
        website. May be deleted upon redesign.
        {% endcomment %}
        &nbsp;
    </div>

    <br />
    <br />

    <div class="author">

        <a href="{{ author.get_absolute_url }}">{{ author.name }}</a><br />
        {{ author.year_born }} - {{ author.year_dead|default:'' }}

    </div>
    <div class="author">

        <br />
        {{ poem.about }}

    </div>


{% endblock %}

{% block side %}

    {% trans 'Poems by' %} <strong>{{ author.name_dative }}</strong>
    <br />
    <br />

    {% comment %}
    NOTE: The poem order differs from the original website, because the
    original didn't specify an order by a particular field, and thus were
    listed in a somewhat arbitrary order.
    {% endcomment %}
    {% for side_poem in author.poems.publicly_visible reversed %}

        {% if side_poem.id == poem.id %}
            {{ side_poem.name }}
        {% else %}
            <a href="{{ side_poem.get_absolute_url }}">{{ side_poem.name }}</a>
        {% endif %}

        {% comment %}
        TODO: Here should be shown the date that this poem was the
        poem-of-the-day (if ever), once we've imported poemsof-the-day.
        {% endcomment %}

        <br />
    {% endfor %}

{% endblock %}
