{% extends "base.html" %}
{% load i18n %}

{% block javascript %}
<script language="javascript" type="text/javascript">

function search() {
    var search_string = document.getElementById('search_string').value;
    if (search_string) {
        location.href = '/poems/search/?q=' + search_string;
    }
    return false;
}

</script>
{% endblock %}

{% block sign %}{% trans 'Poem collection' %}{% endblock %}

{% block content %}

    <a href="{% url 'poems_newest' %}">
        {% blocktrans %}Browse the last {{ NEWEST_COUNT }} poems{% endblocktrans %}
    </a>
    <br /><br />

    <a href="#">
        {% trans 'Browse previous daily poems' %}
    </a>
    <br /><br />
            
    <a href="{% url 'poems_by_author' %}">
        {% trans 'Browse by author' %}
    </a>
    <br /><br />
        
    <br /><br />

    <form onsubmit="return search();">
    <input type="text" size="19" id="search_string" value="{{ search_string }}" autofocus="true" />
    <button type="submit">{% trans 'Search' %}</button><br />
    </form>

{% endblock %}

{% block side %}

    {% if listing_type == 'newest' %}
        {% comment %}

        Deviations from the original website:

        1. The original's phrase contains the words "twenty five", but our
        configuration option is an integer. We'll use the integer in our
        version instead of the string version.

        2. Untitled poems show up with their full URLs instead of their empty
        names in the original, so we call them "Untitled poem"s.

        3. We fix the mistaken order in the original at the end of the
        Icelandic alphabet, where "Æ Þ Ö" should be "Þ Æ Ö". This is done in
        the settings.

        4. The order of authors is more reasonable in our version, given that
        the database is constructed with the proper charset and collation.

        {% endcomment %}
        {% blocktrans %}The {{ NEWEST_COUNT }} newest poems{% endblocktrans %}
        <br /><br />

        {% for poem in poems %}
            <a href="{{ poem.get_absolute_url }}">
                {% if poem.name %}
                    {{ poem.name }}
                {% else %}
                    <em>{% trans 'Untitled poem' %}</em>
                {% endif %}
            </a>
            <br />
            &nbsp;&nbsp;&nbsp;
            {{ poem.author.name }}
            <br />
        {% endfor %}

    {% elif listing_type == 'by-author' %}

        {% for letter in letters %}
            <a href="{% url 'poems_by_author' letter %}">{{ letter }}</a>
        {% endfor %}
        <br /><br />

        {% for author in authors %}
            <a href="{{ author.get_absolute_url }}">{{ author.name }}</a>
            ({{ author.poem_count }})
            <br />
        {% endfor %}

    {% elif listing_type == 'search' %}

        {% for poem in poems %}
            <a href="{{ poem.get_absolute_url }}">{{ poem.name }}</a>
            eftir
            <strong>{{ poem.author.name_dative }}</strong>
            <br />
        {% empty %}
            {% trans 'Unfortunately there were no search results.' %}
        {% endfor %}

    {% endif %}

{% endblock %}
