# Instance-specific files.
/db.sqlite3
/poetcave/local_settings.py
/static

# Swap and cache.
*.swp
__pycache__

# Translations.
*.mo

# IDE stuff.
/.vscode
/Session.vim

# Data not for publication.
/data
