asgiref==3.8.1
beautifulsoup4==4.12.3
cachetools==5.5.0
certifi==2024.7.4
chardet==5.2.0
charset-normalizer==3.3.2
confusable-homoglyphs==3.3.1
cssselect==1.2.0
cssutils==2.11.1
Django==5.1
django-markdown2==0.3.1
django-middleware-global-request==0.3.5
django-registration==3.4
django-termsandconditions==2.0.12
django_mdmail==0.5.2
emails==0.6
idna==3.8
lxml==4.9.4
Markdown==3.7
markdown2==2.5.0
more-itertools==10.4.0
nmdmail==0.4.0
premailer==3.10.0
python-dateutil==2.9.0.post0
python-frontmatter==1.1.0
PyYAML==6.0.2
requests==2.32.3
six==1.16.0
soupsieve==2.6
sqlparse==0.5.1
urllib3==2.2.2
