{% load i18n %}
{% load static %}

<html>
<head>
    <title>Ljóð.is</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <link href="{% static 'oldsite/css/poetry.css' %}" rel="stylesheet">

    {% include 'counter.html' %}
</head>
<body>

{% include 'left-navigation.html' %}

{% include 'logo.html' %}

<div class="main">

    <div class="sign-container">
        <div class="sign">
            <img src="{% static 'core/img/cube.png' %}" style="float: left;" />
            {% block sign %}Ljóð.is{% endblock %}
            <img src="{% static 'core/img/cube.png' %}" style="float: right;" />
        </div>
    </div>

    {% if messages %}
        <span class="message">
            {% for message in messages %}
                <p>{{ message }}</p>
            {% endfor %}
        </span>
    {% endif %}

    {% block content %}{% endblock %}

</div>

<div class="side">
    {% block side %}{% endblock %}
</div>

<script language="javascript" type="text/javascript" src="{% static 'core/js/jquery/jquery-3.6.0.min.js' %}"></script>
<script language="javascript" type="text/javascript" src="{% static 'core/js/legacy-imitation.js' %}"></script>

{% block javascript %}{% endblock %}

</body>
</html>
