{% load i18n %}
{% load static %}

<html> 
<head> 
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
<link href="http://www.ljod.is/css/poetry.css" rel="stylesheet"> 
<link href="{% static 'core/css/legacy-imitation.css' %}" rel="stylesheet" />
<title>Ljóð.is</title> 
<link rel="stylesheet" href="http://www.ljod.is//cms/css/screen.css" type="text/css" media="screen" />
<!--[if lt IE 7]>
<link rel="stylesheet" href="http://www.ljod.is//cms/css/screen_ie.css" type="text/css" media="screen" />
<![endif]-->
<style type="text/css"> 
.dialog {
	background: #f0f0f0;
	position: absolute;
	left: 200px;
	top: 170px;
	border-width: 1px;
	border-color: #000000;
	border-style: solid;
	padding: 8px 8px 8px 8px;
	width: 300px;
}
</style>



</head> 
<body background="http://www.ljod.is/images/alki.gif"> 

<!-- main container starts here -->
<div id="main_container" style="background-image:url('http://www.ljod.is/images/alki.gif');">
    
	<!-- content wrapper starts here -->
    <div class="content_wrapper">

<table width="100%" height="100%" border="0" cellpadding="0" cellspacing="0">	
	<tr> 
		<td valign="top" > 
			<table width="100%" height="100%" border="0" cellpadding="0" cellspacing="0">	
				<tr> 
					<td valign="top" width="190"> 
						<table width="190"border="0" cellspacing="0" cellpadding="0"> 
							<tr> 
								<td bgcolor="#999999"><img src="http://www.ljod.is/images/spacer.gif" width="6" height="10"></td> 
							</tr> 
							<tr> 
								<td bgcolor="#FFFFFF"><img src="http://www.ljod.is/images/spacer.gif" width="6" height="10"></td> 
							</tr> 
							<tr> 
								<td bgcolor="#999999"><img src="http://www.ljod.is/images/spacer.gif" width="6" height="5"></td> 
							</tr> 
							<tr> 
								<td bgcolor="#FFFFFF"><img src="http://www.ljod.is/images/spacer.gif" width="5" height="5"></td> 
							</tr> 
							<tr> 
								<td bgcolor="#999999"><img src="http://www.ljod.is/images/spacer.gif" width="6" height="5"></td> 
							</tr> 
							<tr> 
								<td> 
																		<span class="small"> 
									<br><br><br><br><br> 
																		</span> 
								</td> 
							</tr> 
						</table> 
						<br> 
					</td> 
					<td width="175"  height="110"   align="center" valign="top"> 
						<table width="175" border="0" cellspacing="0" cellpadding="0"> 
							<tr> 
								<td bgcolor="#999999"><img src="http://www.ljod.is/images/spacer.gif" width="6" height="10"></td> 
							</tr> 
							<tr> 
								<td bgcolor="#FFFFFF" align="left" valign="top"><img src="http://www.ljod.is/images/spacer.gif" width="5" height="6"></td> 
							</tr> 
							<tr> 
								<td><a href="{% url 'main' %}"><img src="http://www.ljod.is/images/logo_stort.gif"  border="0"><img src="http://www.ljod.is/images/08_stort.gif" border="0"></a></td>
							</tr> 
							<tr> 
								<td class="date">{% now 'DATE_FORMAT' %}</td>
							</tr> 
							<tr> 
								<td></td> 
							</tr> 
							<tr> 
								<td>&nbsp;</td> 
							</tr> 
						</table> 
					</td> 
					
                    
                    
                    <td width="100%" align="left" valign="top"> 
						<table width="100%" border="0" cellspacing="0" cellpadding="0"> 
							<tr> 
								<td bgcolor="#999999" colspan="2"><img src="http://www.ljod.is/images/spacer.gif" width="6" height="10"></td> 
							</tr> 
							<tr> 
							  <td bgcolor="#FFFFFF" colspan="2"><img src="http://www.ljod.is/images/spacer.gif" width="5" height="6"></td> 
							</tr> 
                            <tr> 
				
          
							<td width="732" > 

 								</td>
						  </tr> 
 
					  </table> 
					  <a href="http://www.leturprent.is/"><img src="http://www.ljod.is/leturprent.jpg" style="margin-left:300px;margin-top:10px;"></a>
					</td> 
                    
                    
                    
				</tr> 
				<tr> 
					<td style="vertical-align: top;" colspan="3"> 
						<table border="0" cellpadding="0" cellspacing="0"> 
							<tr> 
								<td style="text-align: center; vertical-align: top; width: 100;"> 
									<img src="http://www.ljod.is/images/bordi_nav.gif" width="100" height="1"><br> 
									<img src="http://www.ljod.is/images/spacer.gif" height="8"><br> 
									<a href="{% url 'main' %}"><img src="http://www.ljod.is/images/nav_ljod.gif" border="0"></a><br>
									<img src="http://www.ljod.is/images/spacer.gif" height="3"><br> 
									<a href="{% url 'poems' %}"><img src="http://www.ljod.is/images/nav_ljodasafn.gif" border="0"></a><br />
									<img src="http://www.ljod.is/images/spacer.gif" height="3"><br> 
									<a href="http://www.ljod.is/index.php/page/page_list/umsagnir"><img src="http://www.ljod.is/images/nav_umsagnir.gif" border="0"></a><br> 
									<img src="http://www.ljod.is/images/spacer.gif" height="7"><br> 
									<img src="http://www.ljod.is/images/bordi_nav.gif" width="100" height="1"><br> 
									<img src="http://www.ljod.is/images/spacer.gif" height="7"><br> 
									<a href="{% url 'about' %}"><img src="http://www.ljod.is/images/nav_faq.gif" border="0"></a><br> 
									<img src="http://www.ljod.is/images/spacer.gif" height="3"><br> 
									<a href="/lists/"><img src="http://www.ljod.is/images/nav_postlisti.gif" border="0"></a><br> 
									<img src="http://www.ljod.is/images/spacer.gif" height="3"><br> 
									<a href="http://www.ljod.is/index.php/page/page_list/tenglar"><img src="http://www.ljod.is/images/nav_linkar.gif" border="0"></a><br> 
									<img src="http://www.ljod.is/images/spacer.gif" height="3"><br> 
									<a href="{% url 'register' %}"><img src="http://www.ljod.is/images/nav_nyskraning.gif" border="0"></a><br>
									<img src="http://www.ljod.is/images/spacer.gif" height="3"><br> 
									<img src="http://www.ljod.is/images/spacer.gif" height="3"><br> 
									<img src="http://www.ljod.is/images/bordi_nav.gif" width="100" height="1"><br>
									<img src="http://www.ljod.is/images/spaces.gif" height="7" border="0"><br>
						
									{% if user.is_authenticated %}
										<img src="http://www.ljod.is/images/spacer.gif" height="3" /><br />
										<a href="{% url 'bookmarks' %}"><img src="http://www.ljod.is/images/nav_bokamerki.gif" /></a><br />
										<img src="http://www.ljod.is/images/spacer.gif" height="3"><br />
										<a href="{% url 'profile' %}"><img src="http://www.ljod.is/images/nav_eg.gif" /></a><br />
										<img src="http://www.ljod.is/images/spacer.gif" height="3"><br />
										<a href="{% url 'author_admin' user.author.id %}"><img src="http://www.ljod.is/images/nav_account.gif"></a><br />
										<img src="http://www.ljod.is/images/spacer.gif" height="3"><br />
										<a href="{% url 'logout' %}"><img src="http://www.ljod.is/images/nav_utskra.gif" /></a>
										<img src="http://www.ljod.is/images/spacer.gif" height="7"><br />
										<img src="http://www.ljod.is/images/bordi_nav.gif" width="100" height="1"><br />
										<img src="http://www.ljod.is/images/spacer.gif" height="7"><br />
									{% else %}
										<form action="{% url 'login' %}" method="post">
										{% csrf_token %}
										Notandi<br />
										<input type="text" name="username" size="10"><br />
										Lykilorð<br />
										<input type="password" name="password" size="10" /><br />
										<input type="submit" value="Innskrá" /><br />
										[ <a href="{% url 'password_reset' %}">{% trans 'Forgotten password' %}</a> ]
										</form>
										<br />
									{% endif %}

                                    <div style="text-align: center;">
                                        {% trans 'Authors' %}:
                                    </div>
                                    <div style="text-align: justify; padding: 0px 16px 0px 16px;">
                                        {% for letter in letters %}
                                            <a href="{% url 'poems_by_author' letter %}">{{ letter }}</a>
                                        {% endfor %}
                                        <br />
                                        <br />
                                    </div>

                                    <div class="smalltext">
                                        <b>©</b>{% trans 'Users of ljóð.is' %}
                                    </div>

								</td>
								<td style="vertical-align: top; width: 400; padding: 0px 0px 0px 90px;margin-bottom:0px;">
									<table width="175" border="0" cellspacing="0" cellpadding="0" bgcolor="#FFFFFF">
										<tr> 
											<td colspan="3"><img src="http://www.ljod.is/images/fyrirsogn_bordi.gif" width="175" height="1"></td> 
										</tr> 
										<tr> 
											<td width="12" align="left" valign="middle"><img src="http://www.ljod.is/images/fyrirsogn_kassi.gif" width="10" height="12"></td> 
											<td class="boxtext" width="151">{% block sign %}Ljóð.is{% endblock %}</td>
											<td width="12" align="right"><img src="http://www.ljod.is/images/fyrirsogn_kassi.gif" width="10" height="12"></td> 
										</tr> 
										<tr valign="top"> 
											<td colspan="3"><img src="http://www.ljod.is/images/fyrirsogn_bordi.gif" width="175" height="1"></td> 
										</tr> 
									</table><br> 
									{% if messages %}
									<span class="message">
										{% for message in messages %}
											<p>{{ message }}</p>
										{% endfor %}
									</span>
									{% endif %}
									<span class="error"></span>
	
<table border="0" cellpadding="0" cellspacing="0"> 
	<tr> 
		<td> 
			<span class="poem">
                {% block content %}{% endblock %}
			</span><br><br> 
		</td> 
	</tr> 
	<tr> 
		<td class="author"><br></td> 
	</tr> 
</table> 



</td>
<td style="vertical-align: top;">

    {% block side %}{% endblock %}
 
</td> 
</tr> 
</table> 
 
	<br> 
		
		
		</td> 
	</tr> 
	
	
	</table> 
		</td> 
	        </tr> 
	</table> 


    </div>
	<!-- content wrapper starts here -->    
    
	<!-- spacer -->
	<div class="spacer"></div>

</div>
<!-- main container ends here -->    

<!-- Virk vefmaeling byrjar. Vefur: http://www.ljod.is -->

<script language="javascript" type="text/javascript"><!--
        var p_run_js=0;
//--></script>
<script language="javascript1.1" type="text/javascript"><!--
        var p_run_js=1;
//--></script>
<script language="javascript" type="text/javascript"><!--
//<![CDATA[
        var service_id = "1560";
	var portion = "NÚMER VEFHLUTA";
        var page = "LJOD";
        if(!p_run_js) {
                document.write('<img width="1" height="1" src="http://ljod-is.teljari.is/potency/potency.php?o='+service_id+';i='+portion+';p='+page+';j=1.0" alt="" border="0" />');
        }
//]]>
//--></script>
<script language="javascript" type="text/javascript" src="{% static 'core/js/legacy-imitation.js' %}"></script>
<script language="javascript1.1" type="text/javascript" src="http://ljod-is.teljari.is/potency/js/potency.js"></script>

{% block javascript %}{% endblock %}

<noscript>
<img width="1" height="1" src="http://ljod-is.teljari.is/potency/potency.php?o=1560;i=NÚMER VEFHLUTA;p=LJOD" alt="" border="0" />
</noscript>
<!-- Virk vefmaeling endar -->

</body> 
</html>
