/*
This CSS file is to imitate the look and feel of the legacy website so that
we can use modern HTML but still retain the old look and feel.

When we get to the design phase, once we're feature-complete with regard to
the old website, this file should be completely replaced.
*/

table { padding: 0px; margin: 0px; border-collapse: collapse; }
table th { font-size: 10px; font-weight: bold; padding: 0px 3px 0px 3px; text-align: left; }
table th:first-child { padding-left: 0px; }
table td.control { padding-left: 20px; }

.center { text-align: center; }

input, button { border-width: 1px; }
textarea { border-width: 1px; }

.markdown h1 { font-family: Verdana; font-size: 10px; padding: 0px; margin: 0px; }
.markdown h2 { font-family: Verdana; font-size: 10px; padding: 0px; margin: 0px; font-weight: normal; font-style: italic; }
.markdown p { padding-bottom: 13px; }

/* Left-side navigation */

.nav-section {
    border-top: 1px solid #999999;
    padding: 8px 0px 4px 0px;
}

.nav-links a {
    background-image: url(/static/core/img/legacy-imitation/nav-link-background.png);
    background-repeat: no-repeat;
    display: block;
    font-family: sans-serif;
    font-size: 8px;
    font-weight: bold;

    text-align: left;
    color: #ffffff;
    text-decoration: none;
    height: 12px;

    margin: 0px 0px 1px 0px;
    padding: 1px 0px 1px 21px;
}
