{% extends "base.html" %}
{% load i18n %}

{% block sign %}{{ author.name }}{% endblock %}

{% block content %}

[ <a href="{% url 'poem_add' author.id %}">{% trans 'Add poem' %}</a> ]
<br /><br />

<table style="width: 250px;">
    <tr>
        <th>{% trans 'Poem' %}</th>
        <th style="text-align: right;">{% trans 'Status' %}</th>
    </tr>
    {% for poem in author.poems.all %}
        <tr>
            <td><a href="{% url 'poem' poem.id %}">{{ poem.name }}</a></td>
            <td style="text-align: right;">{{ poem.get_editorial_status_display }}</td>
        </tr>
    {% endfor %}
</table>

{% endblock %}
