{% load i18n %}

<div class="poem">
    {{ poem.body|linebreaksbr }}
    {% comment %}
    This weirdly placed space is only needed for consistency with the old
    website. May be deleted upon redesign.
    {% endcomment %}
    &nbsp;
</div>

<div class="poem-author">
    <a href="{{ poem.author.get_absolute_url }}">{{ poem.author.name }}</a>
    {% if poem.author.year_born %}
        <br />
        {{ poem.author.year_born }} - {{ poem.author.year_dead|default:'...' }}
    {% endif %}
</div>

<div class="poem-about">
    {{ poem.about }}
</div>
